<h1>Angular Front End Code Challenge</h1>

<h2>Overview</h2>
This coding challenge should allow you to show off your Angular and HTML/CSS abilities.

Create an app that will contain 2 pages -- A landing page with sample text, and a page with a line chart.

Include some UI element that will swap between the two pages, of your choosing (button, tab, etc).

<h2>Chart Details</h2>

Create a Line Chart to display the data provided, the chart library is up to you.

Data provided at <a target="_blank" href="https://mqrealogytestapp.azurewebsites.net/sample/">https://mqrealogytestapp.azurewebsites.net/sample/</a> -- Dates will go on the X axis, the Value will go on the Y axis.

Include a date picker component to select a range of 2 dates and re-render the chart based on these dates on form submission.
Keep date validation in mind, to prevent invalid selections.

Date selection in picker, and the reflected data in the chart, should persist when navigating to the landing page and back.

<h2>Responsive Details</h2>

Should display on mobile/tablet as well as desktop. Look and feel is up to you.

<h2>Technical Specifics</h2>
<ul> 
<li>Created with Angular CLI tool, using SCSS style settings.</li>
<li>Chart tool can be anything that will show render a line chart, with an X/Y axis of dates/values.</li>
<li>Include reusable components where possible. App is basic in nature, but you should code for scalability.</li>
<li>Include Typescript definitions throughout.</li>
<li><b>Add finished application to accessible repository of your choosing for review</b></li>
</ul>